<tr class="contact">
  <td>{{fullName}}</td>
  <td>{{phoneNumber}}</td>
  <td>{{mobileNumber}}</td>

  <td>
    <button class="btn btn-danger contact-button" {{action 'click'}}>
      Remove
    </button>
  </td>
</tr>
