<tr class="contact">
  <td>
    {{fullName}}
  </td>
  <td>
    {{phoneNumber}}
  </td>
  <td>
    {{mobileNumber}}
  </td>
  <td>
    <button {{action "click"}}>
      Remove
    </button>
  </td>
</tr>
